<footer class="border-t lg:flex dark:bg-neutral-900">
    <div class="w-full flex lg:flex-col items-center lg:flex-row lg:mx-20 justify-between gap-3 p-5 text-sm text-gray-800 dark:text-white/80">
        <div class="space-y-2">
            <p class="font-semibold text-2xl dark:text-white">Karl Marx Roxas</p>
            <p class="text-gray-600 dark:text-white/80">Software Engineer</p>
        </div>

        <div class="flex flex-row gap-2">
            <a href="https://github.com/Karlroxas21" target="_blank"><lucide-icon [img]="Github" class="my-icon dark:stroke-white"></lucide-icon></a>
            <a href="https://www.linkedin.com/in/km-roxas/" target="_blank"><lucide-icon [img]="Linkedin" class="my-icon dark:stroke-white"></lucide-icon></a>
            <a href="mailto:karlm.roxas@gmail.com" ><lucide-icon [img]="Mail" class="my-icon dark:stroke-white"></lucide-icon></a>
        </div>
    </div>
</footer>