<footer
  class="border-t border-gray-400 bg-custom-gray lg:flex"
>
  <div
    class="lg:mx-40 2xl:mx-32 2xl:px-96 grid grid-rows-4 items-center justify-center gap-3 p-5 text-sm text-gray-300 md:grid-cols-3 md:grid-rows-2 lg:flex"
  >
  <p class="">Built with <a href="https://angular.dev/"  class="hover:text-gray-100" target="_blank">Angular</a>, <a href="https://tailwindcss.com/" class="hover:text-gray-100" target="_blank">TailwindCSS</a>, and <a href="https://github.com/" class="hover:text-gray-100" target="_blank">GitHub Pages</a></p>
  </div>
  
</footer>
