<div
  class="mt-32 bg-custom-gray px-5 pb-24 text-gray-400 lg:mx-40 2xl:mx-32 2xl:px-96"
>
  <section id="introduction">
    <div class="flex flex-col gap-5 md:grid md:grid-cols-3 md:items-center">
      <div class="text-5xl font-semibold md:col-span-1">
        <p>I like to</p>
        <p>keep</p>
        <p>things</p>
        <p class="text-white">simple</p>
        <p>and</p>
        <p class="text-white">effective</p>
      </div>
      <div class="text-xl md:col-span-2">
        <div class="flex flex-col gap-5">
          <div>
            <p>Welcome to my Personal Website!</p>
          </div>
          <div class="">
            <p class="inline">I’m</p>
            <p class="inline text-white">Karl,</p>
            <p class="inline">
              a recent graduate from National University - Manila. Since 2020,
              I’ve been passionately developing applications and websites.
              Alongside professional work, I enjoy reading, working out and
              continuous learning about anything.
            </p>
            <div class="pt-5">
              <p class="inline">
                As a new in this field, I am dedicated to making a
              </p>
              <p class="inline text-white">significant impact</p>
              <p class="inline">
                by tackling real-world problems and challenges through
              </p>
              <p class="inline text-white">innovative solutions.</p>
              <p class="inline">
                I’m committed to honoring my skills daily and delivering work
                that reflects my
              </p>
              <p class="inline text-white">dedication</p>
              <p class="inline">and</p>
              <p class="inline text-white">growth.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="mt-10 border-t">
      <div class="">
        <div class="mt-10">
          <div class="text-3xl font-medium">
            <p>Contact</p>
          </div>
          <div class="mt-5 pl-10 text-lg">
            <ul class="list-disc">
              <li>
                E-mail:
                <p class="inline font-medium text-white">
                  karlm.roxas&#64;gmail.com
                </p>
              </li>
              <li>
                <a
                  href="https://www.github.com/karlroxas21"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="font-medium text-custom-red decoration-wavy hover:underline"
                  >GitHub</a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/km-roxas/"
                  target="_blank"
                  class="font-medium text-custom-red decoration-wavy hover:underline"
                  >LinkedIn</a
                >
              </li>
              <li>
                <a
                  href="https://x.com/techwithkarl"
                  target="_blank"
                  class="font-medium text-custom-red decoration-wavy hover:underline"
                  >Twitter</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="whats-keeping-mebusy">
    <div class="mt-10 border-t">
      <div class="">
        <div class="mt-10">
          <div class="text-3xl font-medium">
            <p>What's keeping me busy</p>
          </div>
          <p class="pl-1 text-sm italic">Updated August 19, 2024</p>
          <div class="mt-5 pl-10 text-lg font-normal text-white">
            <ul class="list-disc">
              <li>Looking for full-time developer/programmer work</li>
              <li>Taking Relational Database Certification by freeCodeCamp</li>
              <li>Reading Algorithm Design Manual by Steven Skiena</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="tools-and-technologies">
    <div class="mt-10 border-t">
      <div class="">
        <div class="mt-10">
          <div class="text-3xl font-medium">
            <p>Tools & Technologies</p>
          </div>
          <div id="languages" class="mt-5 pl-10 text-2xl">
            Languages
            <div class="pl-5">
              <ul class="list-disc text-lg font-medium text-white">
                <li>
                  JavaScript, Typescript, Java, Python, C++, PHP, HTML, CSS3
                </li>
              </ul>
            </div>
          </div>
          <div id="libraries-frameworks" class="mt-3 pl-10 text-2xl">
            Libraries & Frameworks
            <div class="pl-5">
              <ul class="list-disc text-lg font-medium text-white">
                <li>
                  Angular, .NET, ExpressJS, TailwindCSS, Bootstrap, PrimeNG
                </li>
              </ul>
            </div>
          </div>
          <div id="software" class="mt-3 pl-10 text-2xl">
            Software
            <div class="pl-5">
              <ul class="list-disc text-lg font-medium text-white">
                <li>Docker, Linux, Postman, Git</li>
              </ul>
            </div>
          </div>
          <div id="database" class="mt-3 pl-10 text-2xl">
            Database
            <div class="pl-5">
              <ul class="list-disc text-lg font-medium text-white">
                <li>NoSQL (MongoDB), SQL (MS SQL)</li>
              </ul>
            </div>
          </div>
          <div id="others" class="mt-3 pl-10 text-2xl">
            Others
            <div class="pl-5">
              <ul class="list-disc text-lg font-medium text-white">
                <li>GitHub, NodeJS, npm, Heroku, VSCode, Figma, Notion</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="publications">
    <div class="mt-10 border-t">
      <div class="">
        <div class="mt-10">
          <div class="text-3xl font-medium">
            <p>Publications</p>
          </div>
          <div class="mt-5 pl-10 text-lg font-normal">
            <ul class="list-disc">
              <li
                class="text-custom-red decoration-wavy transition hover:underline"
              >
                <a
                  href="https://ieeexplore.ieee.org/document/10589019"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Ecotopia: A Parallax Enabled Website for Climate Change
                  Awareness with Interactive Mini Arcade Game</a
                >
              </li>
            </ul>
            <div class="text-sm italic">
              <p>Date of conference: 19-23 November 2023</p>
              <p>DOI: 10.1109/HNICEM60674.2023.10589019</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="education">
    <div class="mt-10 border-t">
      <div class="">
        <div class="mt-10">
          <div class="text-3xl font-medium">
            <p>Education</p>
          </div>
          <div class="mt-5 grid grid-cols-4 text-lg font-normal">
            <div class="col-span-3">
              <p class="text-white">
                Bachelor of Science in Information Technology with
                Specialization in Multimedia Arts and Animation
              </p>
            </div>

            <div class="col-span-1 flex justify-end text-right">
              <div class="text-sm italic">
                <p>August 2020 - June 2024</p>
                <p>National University - Manila</p>
                <p>Cum Laude</p>
              </div>
            </div>
          </div>
          <div class="pl-5">
            <ul class="list-disc">
              <li>Tech lead at Google Developers Student Club</li>
              <li>NU Safe Maintainer using Microsoft Power Apps</li>
              <li>Scholar of National University - Manila</li>
              <li>
                Junior Philippine Computer Society of the Philippines Member
              </li>
              <li>NU Wizards Circle Member</li>
            </ul>
          </div>
          <div class="pt-3">
            <p>
              Relevant Coursework: Software and Web Application, Information
              Security, Principles of Design, Capstone Project, Database design
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
