<section id="introduction" class="text-gray-800 dark:bg-neutral-900 dark:text-white/60">
    <div class="flex justify-center items-center">
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-5 text-center">
                <h1 class="text-4xl text-gray-600 font-bold dark:text-gray-200">Hi, I'm <span class="text-black dark:text-white">Karl</span></h1>
                <p class="text-gray-600 lg:text-center dark:text-white/60">I like to keep things simple and effective.
                </p>
            </div>
            <div class="">
                <div class="flex flex-col gap-7 text-center mx-5 md:mx-20 xl:mx-72">

                    <div class="">
                        <p class="text-gray-600 lg:text-center dark:text-white/60">Currently, a Software Engineer at
                            NMBLR that focuses on building web application using Expressjs and Typescript.
                            I also have experience in building web applications using Angular and Java.
                            I am also passionate about learning new technologies and improving my skills.
                            I'm writing my articles on my blog to share my knowledge and experience with others.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="experience">
    <div class="mx-2 flex items-center justify-center py-20 lg:mx-20">

        <div class="flex flex-col xl:mx-72 gap-5 justitfy-start w-full">
            <div class="text-2xl text-gray-800 font-extrabold dark:text-white">
                <p>Work Experience</p>
            </div>
            <div class="relative ml-16">
                <div class="absolute top-0 left h-full w-0.5 -translate-x-1/2 bg-gray-300 dark:bg-white"></div>

                <div class="relative mb-8">
                    <div
                        class="absolute top-0 left-0 h-4 w-4 -translate-x-1/2 rounded-full bg-gray-600 dark:bg-white dark:border-white">
                    </div>
                    <div class="mt-4 sm:mt-0 sm:ml-6">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Associate Software Engineer</h3>
                        <time class="mb-2 block text-sm leading-none font-normal text-gray-400 dark:text-gray-500">
                            February 2025 - Present
                        </time>
                        <p class="mb-2 block text-sm leading-none font-normal text-gray-400 dark:text-gray-500">
                            Amihan Global Strategies, Inc.
                        </p>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                            I am on a backend team that focuses on building APIs using Expressjs and Typescript, and
                            make
                            sure everything is working as expected. To make sure that everything is neatly packed, we
                            are using
                            docker containers. I also jump in to support clients with their concerns and issues. Handle
                            user
                            identity with Ory Kratos, always making sure that my code aligns perfectly with the business
                            needs.
                            Also involved in KYC using Go. Plus, I've had a bit of experience with AWS too.
                        </p>
                        <div class="mt-2">
                            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Skills acquired:</p>
                            <div class="flex flex-row mt-2 flex-wrap gap-2 text-sm">
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Enterprise Software Architectures</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Hexagonal Architecture</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Ports and adapters</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Seperation of Concerns</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Do not repeat yourself (DRY)</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Dependency Injection</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Strong typing</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Handling errors</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Code Reviews</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Postman tests</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">WSL2 Dev Environment</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Bit of AWS</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">More Linux/Mac Commands</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Docker</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Kubernetes</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Ory Kratos</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Go</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Stripe</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">More knowledge in middlewares</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Agile</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Typescript</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Expressjs</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Spring Ecosystem</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">PostgreSQL</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Neo4j</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative mb-8">
                    <div
                        class="absolute top-0 left-0 h-4 w-4 -translate-x-1/2 rounded-full bg-gray-600 dark:bg-white dark:border-white">
                    </div>
                    <div class="mt-4 sm:mt-0 sm:ml-6">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Associate Application Support
                            Engineer</h3>
                        <time class="mb-2 block text-sm leading-none font-normal text-gray-400 dark:text-gray-500">
                            October 2024 - February 2025
                        </time>
                        <p class="mb-2 block text-sm leading-none font-normal text-gray-400 dark:text-gray-500">
                            Amihan Global Strategies, Inc.
                        </p>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                            I've driven major Angular enterprise upgrades (from version 7 all the way to 18) and
                            consistently
                            support clients with deployments and tickets, all while working with powerful tools like
                            Kubernetes, Docker, GO, Typescript, Angular, Neo4j, PostgreSQL, and the Spring Ecosystem.
                        </p>
                        <div class="mt-2">
                            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Skills acquired:</p>
                            <div class="flex flex-row mt-2 flex-wrap gap-2 text-sm">
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Reading legacy codebase</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Deeper Angular knowledge</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Reading legacy codebase</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Linux Commands</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Kubernetes</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Google Workspace</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Jira</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Reading legacy codebase</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Talking with clients</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative mb-8">
                    <div
                        class="absolute top-0 left-0 h-4 w-4 -translate-x-1/2 rounded-full bg-gray-600 dark:bg-white dark:border-white">
                    </div>
                    <div class="mt-4 sm:mt-0 sm:ml-6">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Computer Programmer Intern</h3>
                        <time class="mb-2 block text-sm leading-none font-normal text-gray-400 dark:text-gray-500">
                            2024 - 400 hours Internship
                        </time>
                        <p class="mb-2 block text-sm leading-none font-normal text-gray-400 dark:text-gray-500">
                            National Mapping and Resource Information Authority
                        </p>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                            For the GSDD department, I was tasked with creating a comprehensive personnel tracking
                            web system that significantly improved theit internal processes, build using Node.js,
                            Expressjs, Angular, and MS SQL.
                        </p>
                        <div class="mt-2">
                            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Skills acquired:</p>
                            <div class="flex flex-row mt-2 flex-wrap gap-2 text-sm">
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Full-stack development</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Working with government officials</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Designing</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">PrimeNG</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative mb-8">
                    <div
                        class="absolute top-0 left-0 h-4 w-4 -translate-x-1/2 rounded-full bg-gray-600 dark:bg-white dark:border-white">
                    </div>
                    <div class="mt-4 sm:mt-0 sm:ml-6">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Full Stack Developer Intern</h3>
                        <time class="mb-2 block text-sm leading-none font-normal text-gray-400 dark:text-gray-500">
                            2023 - 400 hours Internship
                        </time>
                        <p class="mb-2 block text-sm leading-none font-normal text-gray-400 dark:text-gray-500">
                            Achieve Without Borders, Inc.
                        </p>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                            My experience includes developing Lazada and Shopee connectors for odoo, extensive bug
                            fixing
                            within the platform, and assisting with QA tasks, all following Agile principles.
                        </p>
                        <div class="mt-2">
                            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Skills acquired:</p>
                            <div class="flex flex-row mt-2 flex-wrap gap-2 text-sm">
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Odoo Framework</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Quality Assurance</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Agile</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Working with clients</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Accountability</p>
                                <p class="bg-gray-200 px-5 py-1 rounded-xl">Rapport</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="why" class="text-gray-800 dark:bg-neutral-900 border-t">
    <div class="flex justify-center items-center mx-2 lg:mx-20 py-20">
        <div class="flex flex-row w-full justify-between mx-5 gap-5 xl:mx-72 lg:gap-20">
            <div class="text-left flex gap-5 flex-col">
                <div class="text-2xl text-gray-800 font-extrabold dark:text-white">
                    <p>Why</p>
                </div>
                <div class="text-gray-600 flex flex-col gap-2 dark:text-white/60">
                    <p>Why I'm here? It's the only thing I am good at. Since child I was curious about computers,
                        exploring
                        different setttings in the computer (I always break it), trying to understand how it works.
                        I was fascinated by the idea of creating something out of nothing, and I wanted to be a part of
                        it.
                        I wanted to create something that can help people, something that can make their lives easier.
                    </p>
                    <p>A little story, before college, I don't know how to code. But then Java was introduced to me and
                        I was amazed by the power of programming, creating something
                        that you can use in anything.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="journey-and-evolution" class="text-gray-800 dark:bg-neutral-900 border-t">
    <div class="flex justify-center items-center mx-2 lg:mx-20 py-20">
        <div class="flex flex-row w-full justify-between mx-5 gap-5 xl:mx-72 lg:gap-20">
            <div class="text-left flex gap-5 flex-col">
                <div class="text-2xl text-gray-800 font-extrabold dark:text-white">
                    <p>Journey and Evolution</p>
                </div>
                <div class="text-gray-600 flex flex-col gap-2 dark:text-white/60">
                    <p>I remember back in college, the Fundamentals of Programming subject, that was the time Java was
                        introduced
                        to me by my professor. I am confused most of the time because it was my first time to code.
                        I was struggling to understand the concepts, but I was determined to learn. I spent countless
                        hours studying.
                    </p>
                    <p>The good thing about that subject is my professor gave a anonymous question board its called
                        Piazza to encourage
                        students to ask questions without fear of being judged. I was the most active user in that
                        board!
                        I asked questions, answered questions, and learned from my classmates. It was a great experience that
                        helped me
                        to understand the concepts better.
                    </p>
                    <p>Then leetcode comes... our professor gave us a easy to medium leetcode problem for our finals
                        exam.
                        I'm not gonna lie, I was nervous at first because I don't know how to solve it.
                        I searched a lot of resources online, watched videos, read articles, and practiced a lot.
                        I was able to solve the problem, and it was a great feeling of accomplishment.
                    </p>
                    <p>
                        After that, I started to explore more about programming, I learned about web development, mobile
                        development,
                        databases, technologies, software architectures, information security, networks, infrastructure,
                        and many more. I was fascinated by the idea of creating something that can help people,
                        something that can
                        make their lives easier (and also profit XD). I started to build my own projects, and I was able
                        to apply what I learned in college.
                    </p>
                    <p>Fast forward today, I am currently a Associate Software Engineer at Amihan Global Strategies
                        where I'm developing
                        APIs using Expressjs and Typescript. Upgrading some legacy Angular codebase and doing things.
                    </p>
                    <p>In the future, I want to deep dive into Blockchain technology and enterprise systems.</p>
                </div>
            </div>
        </div>
    </div>
</section>