{
    "plugins": ["prettier-plugin-tailwindcss"],
    "endOfLine": "auto",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketLine": true,
    "arrowParens": "always",
    "parser": "typescript",
    "printWidth": 120
}
  