<div
  id="navbar"
  class="top-0 bg-custom-gray font-roboto text-lg text-gray-300 transition"
>
  <div class="mt-10 lg:mx-40 2xl:mx-32 2xl:px-96">
    <div
      id="navbar-unscrolled"
      #navbarUnscrolled
      class="invisible mx-auto flex flex-col flex-wrap items-center justify-between p-4 opacity-100 transition-opacity duration-300"
    >
      <div class="flex w-full items-center gap-3 font-semibold">
        <div class="flex justify-center rounded-full">
          <div
            class="w-20 lg:w-32 rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 p-1"
          >
            <a routerLink="" class="items-center space-x-3 sm:flex">
              <img
                src="/home/my_pic_circle.png"
                alt="Logo of Karl"
                class="w-20 lg:w-32 rounded-full"
              />
            </a>
          </div>
        </div>

        <div class="flex flex-col">
          <a
            routerLink=""
            class="text-xl font-bold text-gray-100 transition hover:text-white"
            >Karl Marx Roxas</a
          >

          <p>A fresh IT Graduate from National University - Manila</p>
        </div>
        <!-- <p class="text-custom-red text-xs">Ongoing Development</p> -->
      </div>

      <div class="mt-5 flex">
        <p>
          I mainly do web development using MEAN stack. I most recently worked
          my internship at NAMRIA developing a scalable web-based app. But
          before that, I do freelance work related to developing applications.
        </p>
      </div>
      <div class="w-full">
        <p></p>
        <p class="inline">I </p>
        <span id="typed" class="typed inline text-gray-100"></span>
      </div>

      

      <div
        #navbarDefault
        id="navbar-default-1"
        class="mt-5 w-full lg:flex"
      >
        <ul
          class="flex gap-5 font-medium flex-row text-lg"
        >
          <li
            class="flex cursor-pointer items-center rounded-md transition hover:text-gray-100"
            routerLinkActive="rounded-lg text-white"
          >
            <div class="hidden lg:block">
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
                  />
                </svg></div>

            <a routerLink="notes" class="block py-2" #navLink>Notes</a>
          </li>
          <li
            class="flex cursor-pointer items-center rounded-md transition hover:text-gray-100"
            routerLinkActive=" rounded-lg text-white"
          >
            <div class="hidden lg:block">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z"
                    />
                    </svg>
            </div>
            
            <a routerLink="articles" class="block py-2" #navLink>Articles</a>
          </li>
          <li
            class="flex cursor-pointer items-center rounded-md transition hover:text-gray-100"
            routerLinkActive="rounded-lg text-white"
          >
            <div class="hidden lg:block">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                    >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
                    />
                </svg>
            </div>
            

            <a routerLink="projects" class="block py-2" #navLink>Projects</a>
          </li>
          <li
            class="flex cursor-pointer items-center rounded-md transition hover:text-gray-100"
            routerLinkActive="rounded-lg text-white"
          >
            <div class="hidden lg:block">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
            </div>
           

            <a routerLink="about-me" class="block py-2" #navLink>About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

    <div
    id="navbar-scrolled"
    #navbarScrolled
    class="invisible top-5 fixed w-full md:left-1/2 md:w-auto md:-translate-x-1/2 text-sm  flex flex-row transform items-center justify-between gap-2 lg:gap-10 rounded-full bg-custom-gray bg-opacity-30 shadow-lg backdrop-blur-md transition duration-300 lg:hover:scale-105"
    >
    <div class="w-auto py-3 pl-5">
        <div
        class="w-14 rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 p-1 hover:scale-105"
        >
        <a
            routerLink=""
            class="items-center space-x-3 transition hover:scale-105 sm:flex"
        >
            <img
            src="/home/my_pic_circle.png"
            alt="Logo of Karl"
            class="w-14 rounded-full"
            />
        </a>
        </div>
    </div>

    <div class="w-full pr-5">
        <ul
        class="flex flex-row gap-4 font-medium "
        >
        <li
            class="flex cursor-pointer items-center rounded-md transition hover:text-custom-red"
            routerLinkActive="rounded-lg text-white"
        >
        <div class="hidden lg:block">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
            >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
            />
            </svg>
        </div>

            <a routerLink="notes" class="block py-2" #navLink>Notes</a>
        </li>
        <li
            class="flex cursor-pointer items-center rounded-md transition hover:text-custom-red"
            routerLinkActive="rounded-lg text-white"
        >
        <div class="hidden lg:block">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
            >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z"
            />
            </svg>
        </div>
        
            <a routerLink="articles" class="block py-2" #navLink>Articles</a>
        </li>
        <li
            class="flex cursor-pointer items-center rounded-md transition hover:text-custom-red"
            routerLinkActive="rounded-lg text-white"
        >
        <div class="hidden lg:block">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
            >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
            />
            </svg>
        </div>

            <a routerLink="projects" class="block py-2" #navLink>Projects</a>
        </li>
        <li
            class="flex cursor-pointer items-center rounded-md transition hover:text-custom-red"
            routerLinkActive="rounded-lg text-white"
        >
        <div class="hidden lg:block">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
            >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
            </svg>
        </div>

            <a routerLink="about-me" class="block py-2" #navLink>About Me</a>
        </li>
        </ul>
    </div>
    </div>
</div>

<router-outlet></router-outlet>
