<header
  class="bg-gray-900 top-0 font-roboto text-gray-400 text-2xl border-b border-gray-400"
>
  <div class="mx-96 flex flex-row justify-between items-center h-24">
    <div class="font-semibold flex flex-row gap-5 items-center">
      <a href="">
        <img src="/logo/crane_traced.png" alt="Logo of Karl" class="w-12" />
      </a>

      <a class="hover:text-custom-red transition text-gray-400" href="">Karl Marx Roxas</a>
    </div>

    <div id="main-navbar-link" class="">
      <ul class="flex flex-row gap-5 font-medium tracking-tight">
        <li class="hover:text-custom-red transition  cursor-pointer">Notes</li>
        <li class="hover:text-custom-red transition cursor-pointer">Articles</li>
        <li class="hover:text-custom-red transition cursor-pointer">Projects</li>
        <li class="hover:text-custom-red transition cursor-pointer">About Me</li>
      </ul>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
