<div class="min-h-screen bg-white">
    <header class="sticky top-0 z-10 border-b bg-white/80 backdrop-blur-sm flex flex-col items-center">
      <div class="container flex h-16 items-center justify-between">
        <div class="font-medium">
          <a class="text-xl font-bold">
            Karl Marx Roxas
          </a>
        </div>
        <nav class="flex-col">
            <ul class="flex flex-row gap-5">
                <li><a href="#about" class="font-medium text-gray-600 hover:text-black transition-colors">About</a></li>
                <li><a href="#articles" class="font-medium text-gray-600 hover:text-black transition-colors">Articles</a></li>
                <li><a href="#notes" class="font-medium text-gray-600 hover:text-black transition-colors">Notes</a></li>
                <li><a href="#skills" class="font-medium text-gray-600 hover:text-black transition-colors">Skills</a></li>
                <li><a href="#project" class="font-medium text-gray-600 hover:text-black transition-colors">Project</a></li>
                <li><a href="#contact" class="font-medium text-gray-600 hover:text-black transition-colors">Contact</a></li>
            </ul>
        </nav>
        <div class="flex gap-4">
            <button (click)="toggleTheme()" class="theme-toggle">
                <lucide-icon [img]="isDarkTheme ? Sun : Moon" class="my-icon"></lucide-icon>
            </button>
            <a href=""><lucide-icon [img]="Github" class="my-icon"></lucide-icon></a>
            <a href=""><lucide-icon [img]="Linkedin" class="my-icon"></lucide-icon></a>
          <!-- Social icons -->
        </div>
      </div>
    </header>
</div>