<section id="projects" class="border-t text-gray-800 dark:bg-neutral-900">
    <div class="mx-2 flex items-center justify-center border-r border-l border-gray-300 py-20 lg:mx-20">
        <div class="mx-5 flex w-full flex-col gap-5 lg:gap-20 xl:mx-72">
            <div class="flex flex-col gap-5 text-left">
                <div class="text-2xl font-extrabold text-gray-800 dark:text-white">
                    <p>Featured Personal Projects</p>
                </div>
            </div>
            <div class="">
                <app-project-template></app-project-template>
            </div>
        </div>
    </div>
</section>
