<div id="main-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
    <div id="project-1" class="rounded-xl border">
        <div class="">
            <div class="flex h-72 w-auth items-center justify-center rounded-t-xl bg-gray-200">
                <p>Image Placeholder</p>
            </div>
            <div class="p-5">
                <div class="font-bold text-xl dark:text-white/80">
                    <p>Project Crane</p>
                </div>
                <div class="mt-2 text-gray-500 dark:text-white/60">
                    <p>A full-stack password manager solution with super duper features that you can easily use.</p>
                </div>
                <div class="flex flex-row flex-wrap gap-2 text-sm mt-2">
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Express</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Angular</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Typescript</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">PostgreSQL</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Ory Kratos</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Tailwind CSS</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">GraphQL</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Node.js</p>
                </div>
            </div>
            <div class="border-t px-10 py-5 grid grid-cols-2 gap-5">
                <div class="border py-1 rounded-lg font-semibold text-md hover:cursor-pointer dark:text-white/80">
                    <a href="" class="flex flex-row items-center justify-center gap-2 ">
                        <div>
                            <lucide-icon [img]="SquareArrowOutUpRight" class="my-icon h-4 w-4 dark:stroke-white"></lucide-icon>
                        </div>
                        <p>Demo</p>
                    </a>

                </div>
                <div class="border py-1 rounded-lg font-semibold text-md hover:cursor-pointer dark:text-white/80">
                    <a href="" class="flex flex-row items-center justify-center gap-2 ">
                        <div>
                            <lucide-icon [img]="Github" class="my-icon h-4 w-4 dark:stroke-white"></lucide-icon>
                        </div>
                        <p>Code</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="project-1" class="rounded-xl border">
        <div class="">
            <div class="flex h-72 w-auth items-center justify-center rounded-t-xl bg-gray-200">
                <p>Image Placeholder</p>
            </div>
            <div class="p-5">
                <div class="font-bold text-xl dark:text-white/80">
                    <p>Project Crane</p>
                </div>
                <div class="mt-2 text-gray-500 dark:text-white/60">
                    <p>A full-stack password manager solution with super duper features that you can easily use.</p>
                </div>
                <div class="flex flex-row flex-wrap gap-2 text-sm mt-2">
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Express</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Angular</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Typescript</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">PostgreSQL</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Ory Kratos</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Tailwind CSS</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">GraphQL</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Node.js</p>
                </div>
            </div>
            <div class="border-t px-10 py-5 grid grid-cols-2 gap-5">
                <div class="border py-1 rounded-lg font-semibold text-md hover:cursor-pointer dark:text-white/80">
                    <a href="" class="flex flex-row items-center justify-center gap-2 ">
                        <div>
                            <lucide-icon [img]="SquareArrowOutUpRight" class="my-icon h-4 w-4 dark:stroke-white"></lucide-icon>
                        </div>
                        <p>Demo</p>
                    </a>

                </div>
                <div class="border py-1 rounded-lg font-semibold text-md hover:cursor-pointer dark:text-white/80">
                    <a href="" class="flex flex-row items-center justify-center gap-2 ">
                        <div>
                            <lucide-icon [img]="Github" class="my-icon h-4 w-4 dark:stroke-white"></lucide-icon>
                        </div>
                        <p>Code</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="project-1" class="rounded-xl border">
        <div class="">
            <div class="flex h-72 w-auth items-center justify-center rounded-t-xl bg-gray-200">
                <p>Image Placeholder</p>
            </div>
            <div class="p-5">
                <div class="font-bold text-xl dark:text-white/80">
                    <p>Project Crane</p>
                </div>
                <div class="mt-2 text-gray-500 dark:text-white/60">
                    <p>A full-stack password manager solution with super duper features that you can easily use.</p>
                </div>
                <div class="flex flex-row flex-wrap gap-2 text-sm mt-2">
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Express</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Angular</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Typescript</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">PostgreSQL</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Ory Kratos</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Tailwind CSS</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">GraphQL</p>
                    <p class="bg-gray-200 px-5 py-1 rounded-xl">Node.js</p>
                </div>
            </div>
            <div class="border-t px-10 py-5 grid grid-cols-2 gap-5">
                <div class="border py-1 rounded-lg font-semibold text-md hover:cursor-pointer dark:text-white/80">
                    <a href="" class="flex flex-row items-center justify-center gap-2 ">
                        <div>
                            <lucide-icon [img]="SquareArrowOutUpRight" class="my-icon h-4 w-4 dark:stroke-white"></lucide-icon>
                        </div>
                        <p>Demo</p>
                    </a>

                </div>
                <div class="border py-1 rounded-lg font-semibold text-md hover:cursor-pointer dark:text-white/80">
                    <a href="" class="flex flex-row items-center justify-center gap-2 ">
                        <div>
                            <lucide-icon [img]="Github" class="my-icon h-4 w-4 dark:stroke-white"></lucide-icon>
                        </div>
                        <p>Code</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
   
</div>