<section id="skills" class="">
    <div class="mx-2 flex justify-center h-screen border-r border-l border-gray-300 py-20 lg:mx-20">

        <div class="flex flex-col xl:mx-72 gap-5 justitfy-start w-full">
            <div class="text-2xl text-gray-800 font-extrabold dark:text-white">
                <p>My Skills</p>
            </div>
            <div class="article-container" class="grid grid-cols-2 gap-5">
                I can't think of design.
                
            </div>
        </div>
    </div>
</section>