<section id="skills" class="dark:text-white">
    <div class="mx-2 flex justify-center">
        <div class="flex flex-col xl:mx-72 gap-5 justitfy-start w-full">
            <div class="text-2xl text-gray-800 font-extrabold dark:text-white">
                <p>My Skills</p>
            </div>
            <div class="skills-container grid grid-cols-2 gap-5">
                <div id="back-end" class="border rounded-lg shadow-md hover:scale-101 transition">
                    <div class="p-5 flex flex-col gap-2">
                        <div class="flex flex-row gap-2">
                            <lucide-icon [img]="Terminal" class="my-icon dark:stroke-white"></lucide-icon>
                            <p>Backend</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-1 text-sm">
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">ExpressJS</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Spring Boot</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Nodejs</p>
                        </div>
                    </div>
                </div>

                <div id="front-end" class="border rounded-lg shadow-md hover:scale-101 transition">
                    <div class="p-5 flex flex-col gap-2">
                        <div class="flex flex-row gap-2">
                            <lucide-icon [img]="Globe" class="my-icon dark:stroke-white"></lucide-icon>
                            <p>Frontend</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-1 text-sm">
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Angular</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">React</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Nextjs</p>
                        </div>
                    </div>
                </div>

                <div id="Database" class="border rounded-lg shadow-md hover:scale-101 transition">
                    <div class="p-5 flex flex-col gap-2">
                        <div class="flex flex-row gap-2">
                            <lucide-icon [img]="Database" class="my-icon dark:stroke-white"></lucide-icon>
                            <p>Database</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-1 text-sm">
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">PostgreSQL</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Neo4j</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">MongoDB</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">SQL</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Supabase</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">TypeORM</p>
                        </div>
                    </div>
                </div>

                <div id="DevOpsAndTools" class="border rounded-lg shadow-md hover:scale-101 transition">
                    <div class="p-5 flex flex-col gap-2">
                        <div class="flex flex-row gap-2">
                            <lucide-icon [img]="Database" class="my-icon dark:stroke-white"></lucide-icon>
                            <p>DevOps & Tools</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-1 text-sm">
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Docker</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Kubernetes</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Git & GitHub</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Github Actions</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Linux</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">TypeORM</p>
                        </div>
                    </div>
                </div>

                <div id="Languages" class="border rounded-lg shadow-md hover:scale-101 transition">
                    <div class="p-5 flex flex-col gap-2">
                        <div class="flex flex-row gap-2">
                            <lucide-icon [img]="Database" class="my-icon dark:stroke-white"></lucide-icon>
                            <p>Languages</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-1 text-sm">
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Typescript</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Java</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Go</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">C++</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Python</p>
                        </div>
                    </div>
                </div>

                  <div id="Others" class="border rounded-lg shadow-md hover:scale-101 transition">
                    <div class="p-5 flex flex-col gap-2">
                        <div class="flex flex-row gap-2">
                            <lucide-icon [img]="Database" class="my-icon dark:stroke-white"></lucide-icon>
                            <p>Others</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-1 text-sm">
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">Ory Kratos</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">TailwindCSS</p>
                            <p class="border border-gray-300 px-5 py-1 rounded-2xl">PrimeNG</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>