<div class="bg-custom-gray p-5 pt-20 pb-24 text-gray-400 lg:mx-40 2xl:mx-32 2xl:px-96">
    <div>
        <section id="education">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="text-3xl font-medium">
                            <p>Education</p>
                        </div>
                        <div class="mt-5 flex grid-cols-4 flex-col text-lg font-normal md:grid">
                            <div class="md:col-span-3">
                                <p class="text-white">
                                    Bachelor of Science in Information Technology with Specialization in Multimedia Arts
                                    and Animation
                                </p>
                            </div>

                            <div class="md:col-span-1 md:flex md:justify-end md:text-right">
                                <div class="text-sm italic">
                                    <p class="inline md:block">August 2020 - June 2024</p>
                                    <p class="inline md:block">National University - Manila</p>
                                    <p class="inline md:block">Cum Laude</p>
                                </div>
                            </div>
                        </div>
                        <div class="pl-5">
                            <ul class="list-disc pt-3 lg:pt-0">
                                <li>Tech lead at Google Developers Student Club</li>
                                <li>NU Safe Maintainer using Microsoft Power Apps</li>
                                <li>Scholar of National University - Manila</li>
                                <li>Junior Philippine Computer Society of the Philippines Member</li>
                                <li>NU Wizards Circle Member</li>
                            </ul>
                        </div>
                        <div class="pt-3">
                            <p>
                                Relevant Coursework: Software and Web Application, Information Security, Principles of
                                Design, Capstone Project, Database design
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="experience">
            <div class="mt-10 border-t">
                <div class="">
                    <div class="mt-10">
                        <div class="text-3xl font-medium">
                            <p>Experience</p>
                        </div>
                        <div id="exp-1">
                            <div class="mt-5 flex grid-cols-4 flex-col text-lg font-normal md:grid">
                                <div class="md:col-span-3">
                                    <div class="flex gap-7">
                                        <p class="text-white">Computer Programmer</p>
                                        <ul class="list-disc">
                                            <li>Intern</li>
                                        </ul>
                                    </div>
                                    <p>National Mapping and Resource Information Authority</p>
                                </div>

                                <div class="md:col-span-1 md:flex md:justify-end md:text-right">
                                    <div class="text-sm italic">
                                        <p class="inline md:block">March 2024 - June 2024</p>
                                        <p class="inline md:block">Taguig City, NCR, Philippines</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <p>
                                    Under Geospatial Systems Development Division Chief (GSDD) Mr. Romel Francisco, I
                                    developed a scalable custom web application to track employees whereabouts, status
                                    and updates from scratch using Angular15, ExpressJS, NodeJS, MS SQL Server, and
                                    TailwindCSS.
                                </p>
                            </div>
                        </div>
                        <div id="exp-2" class="pt-5">
                            <div class="mt-5 flex grid-cols-4 flex-col text-lg font-normal md:grid">
                                <div class="md:col-span-3">
                                    <div class="flex gap-7">
                                        <p class="text-white">Full Stack Developer</p>
                                        <ul class="list-disc">
                                            <li>Intern</li>
                                        </ul>
                                    </div>
                                    <p>Achieve Without Borders, Inc.</p>
                                </div>

                                <div class="md:col-span-1 md:flex md:justify-end md:text-right">
                                    <div class="text-sm italic">
                                        <p class="inline md:block">December 2023 - February 2024</p>
                                        <p class="inline md:block">Makati City, NCR, Philippines</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <p>
                                    Developed and customize Odoo 15 & 17 apps. Fixed bug in-house Lazada connector app
                                    to minimize delay in projected timeline. Collaborated in an agile manner with
                                    sprints, participated in daily scrums. Performed manual testing to help team to
                                    ensure software quality. Designed a website for E-commerce for client, cutting
                                    unrelated components by 50% based on design principles. Used Odoo Framework, Python,
                                    and PostgreSQL.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects-opensource">
            <div class="mt-10 border-t">
                <div class="">
                    <div class="mt-10">
                        <div class="text-3xl font-medium">
                            <p>Projects/Open-source</p>
                        </div>
                        <div id="exp-1">
                            <div class="mt-5 text-lg font-normal">
                                <div class="col-span-3">
                                    <div class="flex gap-7">
                                        <p class="text-white">Ecotopia</p>
                                        <ul class="list-disc">
                                            <li>Open source</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <p>
                                    A capstone project build using MEAN stack, code and linting standards using
                                    Prettier, OWASP secure coding practices compliance, A grade in security headers
                                    report, achieved AAA and AA in web accessibility compliance using AC checker. This
                                    study is accepted in HNICEM2023 and published at IEEE.
                                </p>
                            </div>
                        </div>
                        <div id="exp-2" class="pt-3">
                            <div class="grid grid-cols-4 text-lg font-normal">
                                <div class="col-span-3">
                                    <div class="flex gap-7">
                                        <p class="text-white">Barbeque</p>
                                        <ul class="list-disc">
                                            <li>Open source</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <p>
                                    Simple blogsite that simulates real-world web app security practices using PHP and
                                    complied to OWASP Secure Coding Practices.
                                </p>
                            </div>
                        </div>
                        <div id="exp-3" class="pt-3">
                            <div class="grid grid-cols-4 text-lg font-normal">
                                <div class="col-span-3">
                                    <div class="flex gap-7">
                                        <p class="text-white">Personal Portoflio Website (this)</p>
                                        <ul class="list-disc">
                                            <li>Open source</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <p>
                                    This personal website portfolio that everyone can view the source code, download and
                                    use. It can be use as inspiration or learning material.
                                </p>
                            </div>
                        </div>
                        <div id="exp-4" class="pt-3">
                            <div class="grid grid-cols-4 text-lg font-normal">
                                <div class="col-span-3">
                                    <div class="flex gap-7">
                                        <p class="text-white">Point of Sales</p>
                                        <ul class="list-disc">
                                            <li>Open source</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <p>
                                    Developed a POS for course project using Java Swing, and MS SQL, used software
                                    engineering principles.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="cerfitications">
            <div class="mt-10 border-t">
                <div class="">
                    <div class="mt-10">
                        <div class="text-3xl font-medium">
                            <p>Certifications</p>
                        </div>
                        <div id="exp-1">
                            <div class="mt-5 text-lg font-normal">
                                <div class="col-span-3">
                                    <div class="flex gap-7">
                                        <p class="text-white">Backend Development and APIs</p>
                                        <ul class="list-disc">
                                            <li>freeCodeCamp</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <p>
                                    Access here:
                                    <a
                                        class="text-custom-red decoration-wavy hover:underline"
                                        href="https://www.freecodecamp.org/certification/fcc28b946f6-a530-4de7-8823-102f7eed7fc8/back-end-development-and-apis"
                                        target="_blank"
                                    >
                                        https://www.freecodecamp.org/certification/fcc28b946f6-a530-4de7-8823-102f7eed7fc8/back-end-development-and-apis
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>;
