<!-- Main -->
<app-navigation-bar></app-navigation-bar>
<section id="hero" class="text-gray-800">
    <div class="flex justify-center items-center mx-20 py-20 border-gray-300 border-l border-r">
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-5">
                <div class="flex justify-center rounded-full">
                    <div class="w-20 lg:w-32 rounded-full ">
                        <a routerLink="" class="items-center space-x-3 sm:flex">
                            <img src="/home/my_pic_circle.png" alt="Logo of Karl" class="w-20 lg:w-32 rounded-full" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <div>
                        <p class="text-2xl font-extrabold text-gray-800">Karl Marx Roxas</p>
                    </div>
                    <div class="text-gray-600 font-semibold">Software Engineer & Full Stack Developer</div>
                </div>
            </div>
            <div class="">
                <div class="flex flex-col gap-7 mx-96">

                    <div class="">
                        <p class="text-gray-600 text-center">I build accessible, user-friendly web applications with
                            modern
                            technologies.
                            Focused on creating elegant solutions to complex problems</p>
                    </div>
                    <div class="flex justify-center gap-4">
                        <button
                            class="bg-gray-800 text-white p-2 rounded-lg text-sm font-semibold hover:cursor-pointer hover:bg-gray-900 transition-all">
                            <a href="#" class="hover:cursor-pointer">Get in touch</a>
                        </button>
                        <button
                            class="border p-2 rounded-lg text-sm font-semibold hover:cursor-pointer hover:bg-gray-100 transition">
                            <a href="#" class="cursor-pointer">View my work</a>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="about-me" class="text-gray-800 border-t">
    <div class="flex justify-center items-center mx-20 py-20 border-gray-300 border-l border-r">
        <div class="flex flex-row w-full justify-between mx-72 gap-20">
            <div class="text-left flex gap-5 flex-col">
                <div class="text-2xl text-gray-800 font-extrabold">
                    <p>About me</p>
                </div>
                <div class="text-gray-600 flex flex-col gap-2">
                    <p>I'm a software engineer with ~1 year of experience building web applications and digital
                        solutions. I specialized in Angular, Spring Ecosystem, Typescript, and Node.js</p>
                    <p>My approach combines technical expertise with a strong focus on user experience. I believe in
                        writing clean, maintanable code that solves real problems.</p>
                    <p>Previously, I worked at Amihan Global Strategies(now Nmblr.ai) where I contribute to delivering
                        cutting-edge technologies to business that improved customer satisfaction</p>
                </div>
            </div>
            <div class="">
                <img src="/home/my_pic_resized.png" alt="My Picture" class="rounded-sm" />
            </div>
        </div>
    </div>
</section>
<section id="skills" class="text-gray-800 border-t">
    <div class="flex justify-center items-center mx-20 py-20 border-gray-300 border-l border-r">
        <div class="flex flex-col w-full mx-72 gap-5">
            <div class="text-left flex gap-5 flex-col ">
                <div class="text-2xl text-gray-800 font-extrabold">
                    <p>Skills & Expertise</p>
                </div>
            </div>
            <div class="flex flex-row gap-5 justify-between">
                <div class="w-full flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <div class="font-bold">
                            <p>Frontend Development</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-2 text-sm">
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Angular</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Nextjs</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Flutter</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">React</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">NgRx</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Tailwind CSS</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Shadcn UI</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Ionic</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="font-bold">
                            <p>Backend Development</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-2 text-sm">
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Expressjs</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Spring Boot</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Spring Security</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Spring Batch</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Typescript</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Java</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Go</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">C++</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">PostgreSQL</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">MongoDB</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Neo4j</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">OAuth 2.0</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Ory Kratos</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">REST API</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">GraphQL</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Domain Driven Design</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">OWASP Coding Practices</p>
                        </div>
                    </div>
                </div>
                <div class="w-full flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <div class="font-bold">
                            <p>Tools & Platforms</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-2 text-sm">
                            
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">OpenAPI</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">VS Code</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">IntelliJ IDEA</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Git</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">GitHub</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">GitHub Actions</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Postman</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Docker</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Kubernetes</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Linux</p>
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">Bash Scripting</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="font-bold">
                            <p>Soft skills</p>
                        </div>
                        <div class="flex flex-row flex-wrap gap-2 text-sm">
                            <p class="bg-gray-200 px-5 py-1 rounded-xl">I do things with passion</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<app-projects></app-projects>
<section id="get-in-touch" class="text-gray-500 border-t">
    <div class="flex flex-row justify-center items-center mx-20 py-20 border-gray-300 border-l border-r">
        <div class="grid grid-cols-2 w-full mx-72 gap-5">
            <div class="text-left gap-5 flex flex-col ">
                <div class="text-2xl text-gray-800 font-extrabold">
                    <p>Get In Touch</p>
                </div>
                <div class="">
                    <p>I'm currently open to new opportunities and colloaborations. Feel free to rech out if you'd like to work together or just say hello.</p>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="flex gap-2">
                        <lucide-icon [img]="Mail" class="my-icon w-5 h-6"></lucide-icon>
                        <a href="mailto:example@example.com" type="email" class="hover:text-gray-800 transition">karlm.roxas&#64;gmail.com</a>
                    </div>
                    <div class="flex gap-2">
                        <lucide-icon [img]="Linkedin" class="my-icon w-5 h-6"></lucide-icon>
                        <a href="https://www.linkedin.com/in/km-roxas/" target="_blank" class="hover:text-gray-800 transition">linkedin.com/in/km-roxas/</a>
                    </div>
                    <div class="flex gap-2">
                        <lucide-icon [img]="Github" class="my-icon w-5 h-6"></lucide-icon>
                        <a href="https://github.com/Karlroxas21"  target="_blank" class="hover:text-gray-800 transition">github.com/Karlroxas21</a>
                    </div>
                </div>
            </div>
            <div class="border border-black flex flex-col gap-2 p-5 rounded-lg">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class=" flex flex-col gap-2">
                    <div>
                      <label class="text-gray-800">Name</label>
                      <input formControlName="name" type="text" class="w-full border p-2 rounded " placeholder="Enter your name" />
                      <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-red-500 text-sm pl-2">
                        Name is required.
                      </div>
                    </div>
              
                    <div>
                      <label class="text-gray-800">Email</label>
                      <input formControlName="email" type="email" class="w-full border p-2 rounded" placeholder="Enter your Email"/>
                      <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-red-500 text-sm pl-2">
                        Valid email is required.
                      </div>
                    </div>
              
                    <div>
                      <label class="text-gray-800">Message</label>
                      <textarea formControlName="message" rows="4" class="w-full border p-2 rounded" placeholder="Enter your Message"></textarea>
                      <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-red-500 text-sm pl-2">
                        Message is required.
                      </div>
                    </div>
              
                    <button type="submit" [disabled]="contactForm.invalid" class="bg-gray-800 text-white py-2 px-4 rounded hover:bg-gray-900">
                      Send Message
                    </button>
                </form>
            </div>

        </div>
    </div>
</section>