<!-- Modal -->
<!-- <div id="development-modal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-50">
    <div class="bg-white rounded-lg p-6 max-w-sm mx-auto text-center">
    <h2 class="text-2xl font-bold mb-4">Ongoing Development</h2>
    <p class="mb-4">This website is currently under development. Some features may not be available.</p>
    <button onclick="closeModal()" class="bg-custom-gray text-white px-4 py-2 rounded hover:bg-black">Close</button>
    </div>
</div> -->

<!-- Main -->
<div class="bg-custom-gray pb-24">
  <div class="pt-10 text-gray-400">
    <section class="mt-5">
     
      <div class="mt-5">
        <app-project-template></app-project-template>
      </div>
    </section>
  </div>
</div>
